/*General styles*/

	    *,:after,:before {
 			-webkit-box-sizing: border-box;
     		-moz-box-sizing: border-box;
          	box-sizing: border-box;
		}

		:root {
		  --headerfont: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica", "Arial", sans-serif;
		  --seriffont: "New York Medium", "Georgia", "Times New Roman", Times, serif;
		  --sansfont: "Verdana", sans-serif;;
		  --navfont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
		  --systemfont: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	      --color-background: #f9f9f9;
	      --color-text-default: #393D44;
	      --color-btn-link: #1a1a1a;
	      --color-btn-outline-background: #1a1a1a;
	      --color-jumbotron: #ffffff;
	      --color-nav: #ffffff;
	      --color-nav-link: #1a1a1a;
	      --color-card-background: #ffffff;
	      --color-card-background-dark: #1a1a1a;
	      --color-card-header: rgba(0, 0, 0, 0.03);
	      

		}

		@media (prefers-color-scheme: dark) {
    		:root {
        	--color-background: #1a1a1a;
        	--color-text-default: #f0f2f3;
        	--color-btn-link: #f0f2f3;
        	--color-btn-outline-background: #f0f2f3;
        	--color-jumbotron: #121212;
        	--color-nav: #000000;
        	--color-nav-link: #ffffff;
        	--color-card-background: #000000;
        	--color-card-background-dark: #000000;
        	--color-card-header: rgba(255, 255, 255, 0.2);
    			  }
		}

	    body {
	      background-color: var(--color-background);
	      color: var(--color-text-default);
	      font-size: 100%;
	      font-family: var(--systemfont);
	      margin:0;
	      line-height: 1.7rem;
	    }

	    .container {
	      width: 100%;
  		  padding-right: 25px;
          padding-left: 25px;
  		  margin-right: auto;
  		  margin-left: auto;
	      
	    }

	    /*@media (min-width: 576px) {
		  .container {
		    max-width: 580px;
		  }
		}*/

		@media (min-width: 768px) {
		  .container {
		    max-width: 700px;
		  }
		}

		@media (min-width: 992px) {
		  .container {
		    max-width: 700px;
		  }
		}

		@media (min-width: 1200px) {
		  .container {
		    max-width: 700px;
		  }
		}

		.container-fluid {
		  width: 100%;
		  padding-right: 15px;
		  padding-left: 15px;
		  margin-right: auto;
		  margin-left: auto;
		}

		li {
		  line-height: 1.7rem;
	      font-size: 1.125rem;
	      font-family: var(--systemfont);
	      margin-bottom: .5rem;
		}

/*Jumbotron style*/

		.jumbotron {
		  
		  /*padding: 16px 32px 8px 25px;*/
		  padding: 0.8rem 0rem;
  		  margin-bottom: 2rem;
		  background-color: var(--color-jumbotron);
		  border-radius: 0;
		}

		.jumbotron .h1,.jumbotron h1 {
        
          font-size: 3rem;
		  font-weight: 200;
		  line-height: 1.2;
		
   		}

		.jumbotron p {
		  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		  font-size: 1.2rem	
		}

   		

		/*.jumbotron {
		    padding: 2rem 1rem;
		    margin-bottom: 2rem;
		    background-color: #e9ecef;
		    border-radius: .3rem
		}

		@media (min-width:576px) {
		    .jumbotron {
		        padding: 4rem 2rem
		    }
		}

		*/


	    /*h1 {
	      margin-bottom: 1rem;
	      margin-top: 1rem;
	    }*/

	    /*h1, h2, h3, h4, h5 {
	    	font-family: var(--headerfont);
	    	/*letter-spacing:1px;
	    	line-height: 1.1;
	    } */

	    h2, h3, h4, h5, h6,
		.h2, .h3, .h4, .h5, .h6 {
		  font-family: var(--headerfont);
		  margin-bottom: 1rem;
		  font-weight: 500;
		  line-height: 1.2;
		}

		h1, .h1 {
		  font-size: 2.03125rem;
		  font-family: var(--headerfont);
		  line-height: 1.2;
		  margin-bottom: 1rem;
	      margin-top: 1rem;
		}

		h2, .h2 {
		  font-size: 1.625rem;
		}

		h3, .h3 {
		  font-size: 1.421875rem;
		}

		h4, .h4 {
		  font-size: 1.21875rem;
		}

		h5, .h5 {
		  font-size: 1.015625rem;
		}

		h6, .h6 {
		  font-size: 0.8125rem;
		}


	    p {
	      line-height: 1.7em;
	      font-size: 1.2em;
	      font-family: var(--systemfont);
	      /*margin-bottom: 1rem;*/
	    }

	    @media (prefers-color-scheme: dark) {
			p {
			word-spacing: .05em;
			line-height: 1.8rem; }
			}

	    hr {
	    	clear: both;
	    	margin-top: 1rem;
  			margin-bottom: 1rem;
  			border: 0;
  			border-top: 1px solid #ddd;
	    	
	    }

	    .text-muted {
 			color: #919aa1 !important;
		}

		small, .small {
			  font-size: 80%;
			  font-weight: 400;
		}

		a {
			color: #d9230f;
			text-decoration: underline;
		}

		a:focus,a:hover {
		    color: #91170a;
		    text-decoration: underline
		}

		a:focus {
		    outline: dotted thin;
		    outline: -webkit-focus-ring-color auto 5px;
		    outline-offset: -2px
		}

		.img-responsive {
		  margin: 0 auto;
		  display: block;
		  max-width: 100%;
    	  height: auto;
		 }

		 @media (min-width: 768px) {
		  .img-responsive {
		  margin: 0 auto;
		  display: block;
		  max-width: 500px;
    	  height: auto;
		 }
		  }

		@media (prefers-color-scheme: no-preference) {
			.img-light {
				display: block;
			}
			.img-dark {
				display: none;
			}

		}

		@media (prefers-color-scheme: light) {
			.img-light {
				display: block;
			}
			.img-dark {
				display: none;
			}

		}

		@media (prefers-color-scheme: dark) {
			.img-light {
				display: none !important;
			}
			.img-dark {
				display: block !important;
			}
		}

/*		 blockquote {
		  margin-bottom: 1rem;
		  color: #919aa1 !important;
		}

		blockquote-footer {
		  display: block;
		  font-size: 80%;
		  color: #919aa1;
		}*/

		blockquote {
		    padding: 9px 18px;
		    margin: 0 0 18px;
		    font-size: 16.25px;
		    border-left: 5px solid #ddd;
		    color: #919aa1 !important;
		}

		blockquote .small, blockquote footer, blockquote small {
		    display: block;
		    font-size: 80%;
		    line-height: 1.42857143;
		    color: grey
		}

		blockquote .small:before, blockquote footer:before, blockquote small:before {
		    content: '\2014 \00A0'
		}

		.blockquote-reverse, blockquote.pull-right {
		    padding-right: 15px;
		    padding-left: 0;
		    border-right: 5px solid #ddd;
		    border-left: 0;
		    text-align: right
		}

		.page-header {
		    padding-bottom: 8px;
		    margin: 36px 0 18px;
		    border-bottom: 1px solid #ddd;
		}

		.page-header h1 {
			font-weight:300;
		}

		.page-header small {
			color: #919aa1 !important;
		}

		sub,
		sup {
		  position: relative;
		  font-size: 75%;
		  line-height: 0;
		  vertical-align: baseline;
		}

		sub {
		  bottom: -.25em;
		}

		sup {
		  top: -.5em;
		}

		.img-thumbnail {
		   padding: 4px;
		   line-height: 1.42857143;

		   -o-transition: all 0.2s ease-in-out;
		   transition: all 0.2s ease-in-out;
		   display: inline-block;
		   width: 100% \9;
		   max-width: 100%;
		   height: auto;
		   margin: 0.5em;
		 }

		.thumbnail {
			max-width: 320px;
		}

		/* for wordpress */
		.aligncenter {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		}

		.alignleft {
		  float: left;
		}

		.alignright {
		  float: right;
		}

		figure {
			font-size: 0.875rem;
			text-align: center;	
		}

		.paginate a {
			color: var(--color-btn-link);
			text-decoration: none;

		}
		.paginate a:focus,a:hover {
		    color: #91170a;
		    text-decoration: underline
		}

		.paginate a:focus {
		    outline: dotted thin;
		    outline: -webkit-focus-ring-color auto 5px;
		    outline-offset: -2px
		}

/*Navigation styles*/

	    .nav {
	    	display: flex;
			padding: 0;
			align-content: center;
			align-items: center;
	    }

	    #nav {
	    	background-color: var(--color-nav);
	    	padding: 10px 0rem;
	    	color:#FFF;
	    }

	    .navbrand {
	    	font-size: 1.5em; 
	    	font-family: var(--navfont);
	    	letter-spacing: 1px;
	    }

	    #navbrand1, #navbrand2 {
	    	font-weight:bold;
	    	min-width: 210px;
	    }

	    a.nav {
	    	text-decoration: none;
	    	font-family: var(--navfont);
	    	letter-spacing: 1px;
	    	text-transform: uppercase;
	    	color: var(--color-nav-link);
	    }

	    a.nav:visited {
	    	text-decoration: none;
	    	color: var(--color-nav-link);
	    }

	    a.nav:hover {
	    	text-decoration: underline;
	    	color: var(--color-nav-link);
	    }


	    li.nav {
	    	list-style-type: none;
	    	padding: 0px 20px;
	        font-size: 1rem;
	        margin-bottom: 0rem;
	    }

	    li.nav:first-child {
	    	padding-left: 0px;
	    }

	    li.nav:last-child {
	    	padding-right: 0px;
	    }

	    @media screen and (min-width: 600px) {

		  #navbrand1 {
		  	display: none;
		  }

		  #navbrand2 {
		  	padding-right: 20px;
		  }

		  li.nav {
	    	padding: 0px 24px;
	    }
		}

	

		@media screen and (min-width: 0) and (max-width: 599px) {
		  #navbrand2 {
		  	display: none;
		  }

		  #firstnav {
		  	padding-left: 0;
		  }

		  ul.nav {
		  	margin: 1em 0 0 0;
		  }
		}

		@media screen and (min-width: 0) and (max-width: 345px) {
		  #navbrand2 {
		  	display: none;
		  }

		  #firstnav {
		  	padding-left: 0;
		  }

		  li.nav {
	    	list-style-type: none;
	    	padding: 0px 14px;
	      }

		  ul.nav {
		  	margin: 1em 0 0 0;
		  }
		}
/*Grid styles*/
	    
		.gridwrapper2 {
	    	display: grid;
    		grid-column-gap: 35px;
    		grid-row-gap: 0px;
    		/*grid-template-columns: repeat(auto-fit, 300px);*/
    		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    		justify-content: center;
	    }

	    .gridwrapper3 {
	    	display: grid;
    		grid-gap: 5px;
    		/*grid-template-columns: repeat(auto-fit, 300px);*/
    		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    		justify-content: center;
    		justify-items: center;
	    }

	    .gridwrapper4 {
	    	display: grid;
    		grid-gap: 5px;
    		grid-template-columns: repeat(auto-fit, 300px);
    		justify-content: center;
    		/*grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));*/
    		/*grid-auto-rows: 75px;*/
	    }

		p.box, h2.box {
			margin: 0rem 1.5rem 1rem 0rem ;
			font-family: var(--headerfont);
		}

/*Button styles*/

	    .btn {
	      font-family: var(--systemfont);
		  text-transform: uppercase;
		  text-decoration: none;
		  display: inline-block;
		  font-weight: 600;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: middle;
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  border: 1px solid transparent;
		  padding: 0.75rem 2rem;
		  font-size: 0.875rem;
		  line-height: 1.5;
		  border-radius: 0;
		  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		}

		.btn-primary {
		  color: #fff;
		  background-color: #1a1a1a;
		  border-color: #1a1a1a;
		}

		.btn-primary:hover {
		  color: #fff;
		  background-color: #070707;
		  border-color: #010000;
		}

		.btn-primary:focus, .btn-primary.focus {
		  -webkit-box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
		}

		.btn-outline-primary {
		  color: var(--color-btn-outline-background);
		  background-color: transparent;
		  background-image: none;
		  border-color: var(--color-btn-outline-background);
		}

		.btn-outline-primary:hover {
		  color: var(--color-background);
		  background-color: var(--color-btn-outline-background);
		  border-color: var(--color-btn-outline-background);
		}

		.btn-outline-primary:focus, .btn-outline-primary.focus {
 		  -webkit-box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
		}

		.btn-outline-info {
		  color: #1F9BCF;
		  background-color: transparent;
		  background-image: none;
		  border-color: #1F9BCF;
		}

		.btn-outline-info:hover {
		  color: #fff;
		  background-color: #1F9BCF;
		  border-color: #1F9BCF;
		}

		.btn-outline-info:focus, .btn-outline-info.focus {
		  -webkit-box-shadow: 0 0 0 0.2rem rgba(31, 155, 207, 0.5);
		          box-shadow: 0 0 0 0.2rem rgba(31, 155, 207, 0.5);
		}

		.btn-outline-info.disabled, .btn-outline-info:disabled {
		  color: #1F9BCF;
		  background-color: transparent;
		}

		.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
		.show > .btn-outline-info.dropdown-toggle {
		  color: #fff;
		  background-color: #1F9BCF;
		  border-color: #1F9BCF;
		}

		.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
		.show > .btn-outline-info.dropdown-toggle:focus {
		  -webkit-box-shadow: 0 0 0 0.2rem rgba(31, 155, 207, 0.5);
		          box-shadow: 0 0 0 0.2rem rgba(31, 155, 207, 0.5);
		}

		.btn-sm, .btn-group-sm > .btn {
		  padding: 0.5rem 1rem;
		  font-size: 0.765625rem;
		  line-height: 1.5;
		  border-radius: 0;
		}

		.btn-link, .more-link {
		  font-family: var(--systemfont);
		  font-size: 0.875rem;
		  text-transform: uppercase;
		  text-decoration: none;
		  display: inline-block;
		  font-weight: 600;
		  line-height: 1.5;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: middle;
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  color: var(--color-btn-link);
		}

		.btn-link-sm {
			font-size: 0.8125rem;
			text-decoration:underline;
		}

		.btn-link:hover {
		  color: var(--color-btn-link);
		  text-decoration: underline;
		  background-color: transparent;
		  border-color: transparent;
		}

		.btn-link:focus, .btn-link.focus {
		  text-decoration: underline;
		  border-color: transparent;
		  -webkit-box-shadow: none;
		          box-shadow: none;
		}

		.footerlinks {
			padding-left:0;
			padding-right: 16px;
			padding-bottom:0;
			list-style:none;
			font-weight:600;
			font-size: 0.875rem;
		} 

		.footerlinks:last-child {
			padding-right: 0;
		}


/*Card styles*/

		.card {
			position: relative;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    min-width: 0;
		    word-wrap: break-word;
		    background-color: var(--color-card-background);
		    background-clip: border-box;
		    border: 1px solid rgba(0, 0, 0, 0.125);
		    border-radius: 0;
		    /*padding: 0px 15px;*/
		    max-width: 20rem; 
		    margin: 4px;
		}

		
		/*div.boxes4 div.card:last-child {
			margin-right: 32px;
		}*/
		

		.card-body {
		    -webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		    flex: 1 1 auto;
		    padding: 1rem;
		}

		.card-title {
		    margin-bottom: 0.75rem;
		    text-transform: uppercase;
			letter-spacing: 3px;
			font-family: var(--sansfont); 
			font-weight: bold;
			font-size: 1rem;
			margin-top: 0;
			line-height: 1.1;


		}

		.card-subtitle {
		    margin-top: -0.375rem;
		    margin-bottom: 0
		}

		.card-text {
			font-family: var(--headerfont);
			font-size: 1.125rem; 
		}

		.card-text:last-child {
		    margin-bottom: 0
		}

		.bg-primary {
    		background-color: var(--color-card-background-dark) !important
		}

		.text-white {
    		color: #fff !important
		}

		.card-header {
		  padding: 0.75rem 1.25rem;
		  margin-top: 0;
		  margin-bottom: 0;
		  background-color: var(--color-card-header);
		  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		  text-transform: uppercase;
  		  letter-spacing: 3px;
  		  font-family: var(--sansfont);
  		  font-size: 1.17em;
  		  font-weight: bold;
  		  line-height: 1.1;
		}

		.card-header:first-child {
		  border-radius: calc(0 - 1px) calc(0 - 1px) 0 0;
		}
    	
    	.card > hr {
		  margin-right: 0;
		  margin-left: 0;
		}

		.card-img-overlay {
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1.25rem;
		}

		.card-img {
		  width: 100%;
		  border-radius: calc(0 - 1px);
		}

		.card-img-top {
		  width: 100%;
		  border-top-left-radius: calc(0 - 1px);
		  border-top-right-radius: calc(0 - 1px);
		}

		.card-img-bottom {
		  width: 100%;
		  border-bottom-right-radius: calc(0 - 1px);
		  border-bottom-left-radius: calc(0 - 1px);
		}
/*Form Elements*/

		input,
		button,
		select,
		optgroup,
		textarea {
		  margin: 0;
		  font-family: inherit;
		  font-size: inherit;
		  line-height: inherit;
		}

		button,
		input {
		  overflow: visible;
		}

		button,
		select {
		  text-transform: none;
		}

		/*button,
		html [type="button"],
		[type="reset"],
		[type="submit"] {
		  -webkit-appearance: button;
		}*/

		button::-moz-focus-inner,
		[type="button"]::-moz-focus-inner,
		[type="reset"]::-moz-focus-inner,
		[type="submit"]::-moz-focus-inner {
		  padding: 0;
		  border-style: none;
		}

		input[type="radio"],
		input[type="checkbox"] {
		  -webkit-box-sizing: border-box;
		          box-sizing: border-box;
		  padding: 0;
		}

		input[type="date"],
		input[type="time"],
		input[type="datetime-local"],
		input[type="month"] {
		  -webkit-appearance: listbox;
		}

		textarea {
		  overflow: auto;
		  resize: vertical;
		}

		fieldset {
		  min-width: 0;
		  padding: 0;
		  margin: 0;
		  border: 0;
		}

		legend {
		  display: block;
		  width: 100%;
		  max-width: 100%;
		  padding: 0;
		  margin-bottom: .5rem;
		  font-size: 1.5rem;
		  line-height: inherit;
		  color: inherit;
		  white-space: normal;
		}

		label {
		  display: inline-block;
		  margin-bottom: .5rem;
		}

		.form-control {
		  display: block;
		  width: 100%;
		  padding: 0.75rem 1rem;
		  font-size: 0.875rem;
		  line-height: 1.5;
		  color: #55595c;
		  background-color: #f7f7f9;
		  background-clip: padding-box;
		  border: 1px solid #ced4da;
		  border-radius: 0.25rem;
		  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		}

		.form-control::-ms-expand {
		  background-color: transparent;
		  border: 0;
		}

		.form-control:focus {
		  color: #55595c;
		  background-color: #f7f7f9;
		  border-color: #5a5a5a;
		  outline: 0;
		  -webkit-box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.25);
		          box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.25);
		}

		.form-control::-webkit-input-placeholder {
		  color: #919aa1;
		  opacity: 1;
		}

		.form-control:-ms-input-placeholder {
		  color: #919aa1;
		  opacity: 1;
		}

		.form-control::-ms-input-placeholder {
		  color: #919aa1;
		  opacity: 1;
		}

		.form-control::placeholder {
		  color: #919aa1;
		  opacity: 1;
		}

		.form-control:disabled, .form-control[readonly] {
		  background-color: #eceeef;
		  opacity: 1;
		}

		select.form-control:not([size]):not([multiple]) {
		  height: calc(2.8125rem + 2px);
		}

		select.form-control:focus::-ms-value {
		  color: #55595c;
		  background-color: #f7f7f9;
		}

		.form-group {
		  margin-bottom: 1rem;
		}

		.form-text {
		  display: block;
		  margin-top: 0.25rem;
		}